.App {
  text-align: center;
}

.highlight {
  background-color: yellow;
  color: black;
}

#changeColor-btn {
  background-color: #facc15;
  color: black;
}

#containerUp-btn {
  background-color: #facc15;
  color: black;
}

#containerDown-btn {
  background-color: #facc15;
  color: black;
}

#deleteContainer-btn {
  background-color: #facc15;
  color: black;
}

#deleteSection-btn {
  background-color: #facc15;
  color: black;
}